{% extends 'base.html' %}
{% block title %}Badges (v2){% endblock %}
{% block theme %}{{ theme }}{% endblock %}
{% block pagetitle %}Badges (v2){% endblock %}
{% block content %}
<p>Some text... <mark class='alert'>Alert</mark></p>
<br>
<p>Some text... <mark class='success'>Success</mark></p>
<br>
<p>Some text... <mark class='warning'>Warning</mark></p>
<br>
<p>Some text... <mark class='info'>Info</mark></p>
<br>

<pre class='html'>
	<code>
&lt;p>Some text... &lt;mark class='alert'>Alert&lt;/mark>&lt;/p>
&lt;p>Some text... &lt;mark class='success'>Success&lt;/mark>&lt;/p>
&lt;p>Some text... &lt;mark class='warning'>Warning&lt;/mark>&lt;/p>
&lt;p>Some text... &lt;mark class='info'>Info&lt;/mark>&lt;/p>
	</code>
</pre>

{% endblock %}