{% extends 'base.html' %}
{% block title %}Badges{% endblock %}
{% block theme %}{{ theme }}{% endblock %}
{% block pagetitle %}Badges{% endblock %}
{% block content %}
<iframe height="100px" width="25%" src="https://text.coolcodersj.repl.co?imgurl=https://res.cloudinary.com/dakygv2vu/image/upload/v1617208357/cdn/gbmfzv.png&url=https://github.com/CoolCoderSJ/Minimalist&classes=badge no-animate&text=View on Github&count=1" scrolling="no" frameborder="no" allowtransparency="true" allowfullscreen="true" sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-modals"></iframe>

<pre class='html'>
	<code>
&lt;link rel="stylesheet" href="https://Minimalist.coolcodersj.repl.co/style.css">
&lt;a class="badge no-animate" href="https://github.com/CoolCoderSJ/Minimalist" target="_blank">
                &lt;img src="https://res.cloudinary.com/dakygv2vu/image/upload/v1617208357/cdn/gbmfzv.png" alt="Badge" />
    View on Github
  &lt;/a>
	</code>
</pre>

<p>Minimalist comes built in with badges support. If you would like to use a stylesheet for only badges, use <br><br><code class='code'>&lt;link rel="stylesheet" 	href="https://badge.coolcodersj.repl.co/style.css"></code>.
<br><br>
<h3>Classes</h3>
<p><code class='code'>badge</code> - The bottom-most badge. Badges has support for up to 4 badges.</p>
<p><code class='code'>badge2</code> - The second-to-last badge.</p>
<p><code class='code'>badge3</code> - The second-first badge.</p>
<p><code class='code'>badge4</code> - The topmost badge.</p>
<p><code class='code'>no-animate</code> - Prevent image spin on hover.</p>
<br><br>
<h3>Examples - </h3>
<p>Animated badges -</p>
<iframe height="60px" width="25%" src="https://text.coolcodersj.repl.co?imgurl=https://CoolCoderSJ.repl.co/replit-logo.svg&url=https://CoolCoderSJ.repl.co&classes=badge&text=CoolCoderSJ&count=1" scrolling="no" frameborder="no" allowtransparency="true" allowfullscreen="true" sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-modals"></iframe>
<pre class='html'>
	<code>
		&lt;link rel="stylesheet" href="https://badge.coolcodersj.repl.co/style.css">
    &lt;a class="badge" href="https://CoolCoderSJ.repl.co" target="_blank">
            &lt;img src="https://CoolCoderSJ.repl.co/replit-logo.svg" alt="Badge" />
                    CoolCoderSJ
    &lt;/a>

	</code>
</pre>
{% endblock %}