{% extends 'base.html' %}
{% block title %}Back To Top Button{% endblock %}
{% block theme %}{{ theme }}{% endblock %}
{% block pagetitle %}Back To Top Button{% endblock %}
{% block content %}
<p>The Scroll To Top Button is in the bottom right corner. Scroll down a bit, then click it.</p>

<br>
<pre>
	<code class="html">
&lt;a href="#">
&lt;div class="btt">
	&lt;i class="btt-arr">&lt;/i>
&lt;/div>
&lt;/a>
	</code>
</pre>

<br><br><br>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lectus mauris ultrices eros in cursus turpis massa. Mi ipsum faucibus vitae aliquet nec. Tellus in metus vulputate eu scelerisque felis imperdiet proin fermentum. Vitae tempus quam pellentesque nec nam aliquam sem et. Amet aliquam id diam maecenas ultricies mi eget mauris. A iaculis at erat pellentesque adipiscing commodo elit. Mauris pellentesque pulvinar pellentesque habitant. Sed turpis tincidunt id aliquet risus feugiat. Elit eget gravida cum sociis.

Pharetra vel turpis nunc eget lorem dolor sed viverra. Mi proin sed libero enim sed. Diam sollicitudin tempor id eu nisl nunc mi. Eget gravida cum sociis natoque penatibus et magnis dis. Et malesuada fames ac turpis egestas maecenas. Pellentesque habitant morbi tristique senectus et. Sodales neque sodales ut etiam sit amet nisl. Aliquet lectus proin nibh nisl condimentum. Consectetur purus ut faucibus pulvinar. At tellus at urna condimentum. At volutpat diam ut venenatis. Netus et malesuada fames ac turpis egestas sed tempus. Tincidunt nunc pulvinar sapien et ligula.

Erat imperdiet sed euismod nisi. Dui accumsan sit amet nulla facilisi morbi. Egestas diam in arcu cursus euismod quis viverra nibh. Morbi tincidunt augue interdum velit euismod in pellentesque massa. Faucibus scelerisque eleifend donec pretium. Sed tempus urna et pharetra pharetra massa. Velit euismod in pellentesque massa placerat duis. Orci porta non pulvinar neque laoreet suspendisse interdum consectetur libero. Sem integer vitae justo eget magna fermentum iaculis eu. Sit amet mattis vulputate enim nulla. Tortor posuere ac ut consequat. Molestie at elementum eu facilisis sed odio morbi. Placerat in egestas erat imperdiet sed euismod nisi porta. Enim lobortis scelerisque fermentum dui faucibus in ornare. Amet venenatis urna cursus eget nunc scelerisque viverra mauris.

Pellentesque diam volutpat commodo sed egestas egestas fringilla. Enim nec dui nunc mattis. Semper risus in hendrerit gravida. Gravida in fermentum et sollicitudin ac. Convallis a cras semper auctor. Semper eget duis at tellus at urna condimentum mattis pellentesque. Id ornare arcu odio ut sem nulla pharetra. Sem viverra aliquet eget sit amet. Morbi tristique senectus et netus et malesuada fames ac turpis. In hac habitasse platea dictumst. Semper risus in hendrerit gravida rutrum quisque non tellus orci. Ac turpis egestas integer eget aliquet. Tellus in metus vulputate eu scelerisque felis imperdiet proin. Turpis egestas sed tempus urna et pharetra pharetra massa massa.

Consequat id porta nibh venenatis cras sed felis eget. Consectetur libero id faucibus nisl tincidunt eget nullam. Facilisi nullam vehicula ipsum a arcu cursus vitae congue mauris. Amet nisl suscipit adipiscing bibendum est ultricies integer. Malesuada pellentesque elit eget gravida cum. Ipsum faucibus vitae aliquet nec ullamcorper sit amet risus nullam. Egestas dui id ornare arcu. Laoreet id donec ultrices tincidunt arcu non sodales neque. Iaculis nunc sed augue lacus viverra vitae congue eu. Cras sed felis eget velit aliquet. Cras fermentum odio eu feugiat. Sit amet consectetur adipiscing elit. Dui accumsan sit amet nulla facilisi morbi. Amet luctus venenatis lectus magna fringilla urna porttitor rhoncus. Netus et malesuada fames ac turpis egestas sed tempus urna. Posuere ac ut consequat semper viverra. Sit amet risus nullam eget. Ipsum dolor sit amet consectetur adipiscing elit.</p>

<a href="#">
<div class="btt" style="margin-bottom: 45px;">
	<i class="btt-arr"></i>
</div>
</a>

{% endblock %}