{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block theme %}{{ theme }}{% endblock %}
{% block pagetitle %}Minimalist{% endblock %}
{% block content %}
<pre><code class="language-css">/*
* Minimalist, Copyright 2021 Shuchir Jain
* https://repl.it/@CoolCoderSJ/Minimalist#style.css
* https://github.com/CoolCoderSJ/Minimalist
* https://repl.it/@CoolCoderSJ
* https://github.com/CoolCoderSJ
*/
</code></pre>
<br><br>
<p class="text">
A minimalist stylesheet for ... minimalism. Write simple webpages with beautiful CSS.</p>

<h2 class="text"  id="demo">Usage</h2>
<p class="text">MinimalistCSS - </p>
<pre><code class="language-html">&lt;link href=&quot;https://Minimalist.coolcodersj.repl.co/style.css&quot; rel=&quot;stylesheet&quot; type=&quot;text/css&quot; /&gt;
</code></pre>
<br>
<p class="text">MinimalistCSS Nord - </p>
<pre><code class="language-html">&lt;link href=&quot;https://Minimalist.coolcodersj.repl.co/nord&quot; rel=&quot;stylesheet&quot; type=&quot;text/css&quot; /&gt;
</code></pre>
<br>
<p class="text">MinimalistCSS Purple Night - </p>
<pre><code class="language-html">&lt;link href=&quot;https://Minimalist.coolcodersj.repl.co/purple-night&quot; rel=&quot;stylesheet&quot; type=&quot;text/css&quot; /&gt;
</code></pre>
<br>
<p>MinimalistCSS Light mode -</p>
<pre><code class="language-html">&lt;link href=&quot;https://Minimalist.coolcodersj.repl.co/light&quot; rel=&quot;stylesheet&quot; type=&quot;text/css&quot; /&gt;</code></pre>
<br>
<p class="text">MinimalistJS - </p>
<pre><code class="language-html">&lt;script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">&lt;/script>
&lt;script src="https://Minimalist.coolcodersj.repl.co/mjs">&lt;/script>
</code></pre>
<br>
{% endblock %}