{% extends 'base.html' %}
{% block title %}Lists{% endblock %}
{% block theme %}{{ theme }}{% endblock %}
{% block pagetitle %}Lists{% endblock %}
{% block content %}
<h2 class="center">Unordered List</h2>
<ul class="center">
	<li>Item 1</li>
	<li>Item 2</li>
	<li>Item 3</li>
</ul>
<h2 class="center">Ordered List</h2>
<ol class="center">
	<li>Item 1</li>
	<li>Item 2</li>
	<li>Item 3</li>
</ol>

<pre><code class='html'>

&lt;h2 class="center">Unordered List&lt;/h2>
&lt;ul class="center">
	&lt;li>Item 1&lt;/li>
	&lt;li>Item 2&lt;/li>
	&lt;li>Item 3&lt;/li>
&lt;/ul>
&lt;h2 class="center">Ordered List&lt;/h2>
&lt;ol class="center">
	&lt;li>Item 1&lt;/li>
	&lt;li>Item 2&lt;/li>
	&lt;li>Item 3&lt;/li>
&lt;/ol>

	</code></pre>
{% endblock %}