{% extends 'base.html' %}
{% block title %}Miscellaneous{% endblock %}
{% block theme %}{{ theme }}{% endblock %}
{% block pagetitle %}Miscellaneous{% endblock %}
{% block content %}
<h2 class='center'>Line Rule</h2>
<hr>
<br>
<a href="/" class='center'>I am a link!</a>
<br><br>
<select class="select center">
	<option selected>Coffee</option>
	<option>Tea</option>
	<option>Juice</option>
	<option>Cocktail</option>
</select>

<pre><code class='html'>

&lt;h2 class='center'>Line Rule&lt;/h2>
&lt;hr>
&lt;br>
&lt;a href="/">I am a link!&lt;/a>
&lt;br>&lt;br>
&lt;select class="select center">
	&lt;option selected>Coffee&lt;/option>
	&lt;option>Tea&lt;/option>
	&lt;option>Juice&lt;/option>
	&lt;option>Cocktail&lt;/option>
&lt;/select>

	</code></pre>
{% endblock %}