{% extends 'base.html' %}
{% block title %}Messages{% endblock %}
{% block theme %}{{ theme }}{% endblock %}
{% block pagetitle %}Messages{% endblock %}
{% block content %}
<p class='alert'>Alert Message</p>
<p class='success'>Success Message</p>
<p class='info'>Info Message</p>
<p class='warning'>Warning Message</p>

<pre class='html'>
	<code>
&lt;p class='alert'>Alert Message&lt;/p>
&lt;p class='success'>Success Message&lt;/p>
&lt;p class='info'>Info Message&lt;/p>
&lt;p class='warning'>Warning Message&lt;/p>
	</code>
</pre>
{% endblock %}