{% extends 'base.html' %}
{% block title %}Quotes{% endblock %}
{% block theme %}{{ theme }}{% endblock %}
{% block pagetitle %}Quotes{% endblock %}
{% block content %}
<blockquote class="text">Here's a blockquote. <br><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent id pellentesque nulla. Quisque tortor ligula, tempor quis sem sit amet, ornare pharetra tortor. In eget ligula eu dui malesuada porttitor egestas at libero. Donec vel dictum leo. Morbi cursus, est nec varius consectetur, nulla enim elementum tellus, nec condimentum augue nunc eu tellus. Fusce pretium ante at dolor faucibus convallis. Aenean ex tellus, iaculis at nisl eget, cursus commodo lorem. </blockquote>

<pre>
	<code class='html'>
		&lt;blockquote class="text">Here's a blockquote. &lt;br>&lt;br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent id pellentesque nulla. Quisque tortor ligula, tempor quis sem sit amet, ornare pharetra tortor. In eget ligula eu dui malesuada porttitor egestas at libero. Donec vel dictum leo. Morbi cursus, est nec varius consectetur, nulla enim elementum tellus, nec condimentum augue nunc eu tellus. Fusce pretium ante at dolor faucibus convallis. Aenean ex tellus, iaculis at nisl eget, cursus commodo lorem. &lt;/blockquote>
	</code>
</pre>

{% endblock %}