{% extends 'base.html' %}
{% block title %}Spinners{% endblock %}
{% block theme %}{{ theme }}{% endblock %}
{% block pagetitle %}Spinners{% endblock %}
{% block content %}
 <div style="float: left; margin-right: 10px;" class="spinner"></div> 
 <div style="float: left; margin-right: 10px;" class="spinner spinner-alert"></div> 
 <div style="float: left; margin-right: 10px;" class="spinner spinner-success"></div> 
 <div style="float: left; margin-right: 10px;" class="spinner spinner-warning"></div> 
 <div style="float: left; margin-right: 10px;" class="spinner spinner-info"></div> 

<br><br>
<pre>
	<code class="html">
&lt;div class="spinner">&lt;/div> 
&lt;div class="spinner spinner-alert">&lt;/div> 
&lt;div class="spinner spinner-success">&lt;/div> 
&lt;div class="spinner spinner-warning">&lt;/div> 
&lt;div class="spinner spinner-info">&lt;/div> 
	</code>
</pre>
{% endblock %}